<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Your Cart</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/style.css" />
	<style>
		#tableItems {
			width: 800px;
			margin-left: 15px;

		}
		#tableItems, #checkingout {
			display: inline-block;
		}
		#itemName {
			padding-bottom: 0px;
		}
		#checkingout {
			vertical-align: top;
			padding-left: 100px;
			padding-top: 50px;
		}
		#Quantity, #remove {
			display: inline-block;
		}

		li{
			margin-left: 30px ;
		}

        #image {
          width: 200px;  
        }
        #details {
          vertical-align: middle;
        }
        #itemImage, #details {
          display: inline-block;
        }

		h2 {
			text-align: center;
			padding-top: 20px;
		}

	</style>
</head>
<body>
<div id="cartItems">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Mini-Amazon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <br>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('cart')}}">Cart</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item">{{userinfo[0][0]}}</a>
                <a class="dropdown-item">Current Balance: ${{userinfo[0][1]}}</a>
				<div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('updatebalance')}}">Add Balance</a>
                <a class="dropdown-item" href="{{url_for('purchased')}}">Purchase History</a>
                <a class="dropdown-item" href="/show_buyer">User Profile</a>
			  </div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/logout">Logout</a>
			</li>
		  </ul>
		  <form action="{{ url_for('search') }}" method = "POST">
            <input class="form-group  text-align" id="entry" name="entry" type="search" aria-label="Search">
            <input id="searchButton" type="submit" value="search">
        </form>
        </div>
      </nav>
	<h2>Shopping Cart</h2>
	<div id="tableItems">
		{% for row in rows %}
		<div>
            <hr id="seperator">
			<div id="itemImage">
				<img src={{row[1]}} id="image"/>
			</div>
			<div id="details"> 
				<div id="itemName">
					<a href="{{url_for('itempage', itemid = row[6])}}"><h4>{{row[0]}}</h4></a>
				</div>
				<div id="itemPrice">
					<h5> ${{row[4]}} </h5>
				</div>
				<div id="itemSeller">
					Seller: {{row[2]}} {{row[3]}}
				</div>
				<div id="Quantity">
					<a href="{{url_for('addquantity', itemid = row[6], selleremail= row[7])}}"> + </a>
					{{row[5]}}
					<a href="{{url_for('minusquantity', itemid = row[6], selleremail= row[7])}}"> - </a>
				</div>
				<div id="remove">
					| <a href="{{url_for('removeFromCart', itemid = row[6], selleremail= row[7])}}">Remove</a>
				</div>
			</div>
		</div>
		{% endfor %}
		<hr id="seperator">
	</div>
<div id="checkingout">
	<div id="total">
		<h4> Subtotal: {{totalPrice}} </h4>
	</div>
	<div id="checkout">
		<a class="btn btn-primary" role="button" href="{{url_for('checkout', totalPrice = totalPrice)}}">Checkout</a>
	</div>
</div>
</div>
<div id="error" style="color:red">
	{{errmsg}}
</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>