<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Enter Item Information</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/style.css" />
    </head>
    <body>
        {% if seller%}
        <h1>Edit profile</h1>
        <form action="{{ url_for('modifiedseller', seller_email = seller) }}" method = "POST">
           
                <label for="first_name">First Name:</label><br>
                <input type="text" id="first_name" name="first_name" value="{{firstname}}" required><br>
                <label for="last_name">Last Name:</label><br>
                <input type="text" id="last_name" name="last_name" value="{{lastname}}" required><br>
                <label for="picture">Profile Picture URL:</label><br>
                <input type="text" id="picture" name="picture" value="{{picture}}"><br>
                <label for="address">Address:</label><br>
                <input type="text" id="address" name="address" value="{{address}}" required><br>
                <label for="password">Password:</label><br>
                <input type="text" id="password" name="password" value="{{pwd}}" required><br>
                <label for="secret_question">Secret Question:</label><br>
                <input type="text" id="secret_question" name="secret_question" value="{{sq}}" required><br>
                <label for="secret_answer">Secret Answer:</label><br>
                <input type="text" id="secret_answer" name="secret_answer" value="{{sa}}" required><br>
                <label for="payment_info">Payment Information:</label><br>
                <input type="text" id="payment_info" name="payment_info" value="{{p_info}}" required><br>
                <input type="submit" value ="submit"><br>
        </form>
         {% endif %}
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>