<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <!-- Bootstrap -->
    <!--link href="css/bootstrap.min.css" rel="stylesheet"-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        h1, h2, body {
          text-align: center;
          }
        h1{
          padding: 20px
        }
        table {
            margin-left: auto;
            margin-right: auto;

        }
        th {
            padding-top: 55px;
            padding-bottom: 5px;
            font-weight: bold;
        }
        td {
            padding: 5px;
        }
        body{
          margin-bottom: 50px ;
        }
        li{
          margin-left: 30px ;
        }


    </style>
</head>
<body>
<h1>Enter the following to get your password:</h1>
{{msg}}
<form action="{{ url_for('checkans') }}" method = "POST">
     <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    <label for="secret_question">Secret Question:</label><br>
    <input type="text" id="secret_question" name="secret_question" required><br>
    <label for="secret_answer">Secret Answer:</label><br>
    <input type="text" id="secret_answer" name="secret_answer" required><br>
    <input type="submit" value ="submit"><br>-
</form>
</body>
</html>