<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Mini-Amazon</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" />
    <style>
        h1, body {
          text-align: center;
          }
        h1{
          padding: 20px;
         
        }
        table {
            margin-left: auto;
            margin-right: auto;
            border-collapse: separate;
            border-spacing: 0 1em;
            text-align: center; 
            padding-top: 40px;
         
            
        }
        th {
            padding-top: 55px;
            padding-bottom: 5px;
            font-weight: bold;
            text-align: center;
        }
        tr {
          text-align: center;
        
        }
            
           
        
        td {
            padding: 5px;
            width: 15%;
            border-collapse: separate;
            border-spacing: 0 1em;
            
        }
        body{
          margin-bottom: 50px ;
        }
        li{
          margin-left: 30px ;
        }
        #image{
          width: 150px;
        }


    </style>
  </head>

  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Mini-Amazon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <br>
            <li class="nav-item">
              <a class="nav-link" href="/cart">Cart</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item">{{userinfo[0][0]}}</a>
                <a class="dropdown-item">Current Balance: ${{userinfo[0][1]}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('updatebalance')}}">Add Balance</a>
                <a class="dropdown-item" href="{{url_for('purchased')}}">Purchase History</a>
                <a class="dropdown-item" href="/show_buyer">User Profile</a>              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>

      
    <h1>Mini-Amazon</h1>
        <form action="{{ url_for('search') }}" method = "POST">
            <input class="form-group  text-align" id="entry" name="entry" type="search" aria-label="Search" size="40">
            <input id="searchButton" type="submit" value="search">
        </form>
    <!--h2>Recommendations </h2-->
    <table>
    
        {% for category in categories %}
        <table>
          <col style="width:10%">
          <col style="width:10%">
          <col style="width:10%">
            <tr>  <h3> {{category[0]}} </h3>  </tr>
            {% for item in items %}
                {% if item[3] == category[0] %}
                    <tr>
                        <form>
                          <td><img id = "image"  src = {{item[1]}}> &emsp;</td>
                          <td><a href="{{url_for('itempage', itemid = item[4])}}">{{item[0]}}</a>&emsp; </td>
                          <td>${{item[2]}} &emsp; </td>
                                <!--form action="{{ url_for('addrec') }}" method = "POST"-->
                          
                        </form>
                    </tr>
          <table>
                {% endif %}
            {% endfor %}
        {% endfor %}
  
    <!--table>
        {% for item in items %}
            <tr>
                <td>
                    {{item[0]}} &emsp; 
                    <img class = "center" src = {{item[1]}}> &emsp;
                    {{item[2]}} &emsp;
                    {{item[3]}}
                </td> 
            </tr>
        {% endfor %}
    </table-->

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  </body>
</html>