<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Search Result Page</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" />
    <style>
        h2 {
          text-align: center;
          padding: 20px;
        }
        th {
          font-weight: bold;
        }
        li{
          margin-left: 30px ;
        }
        td, tr {
          padding-bottom: 20x;
          padding-top: 20x;
        }
        body{
          margin-bottom: 50px ;
        }
        h4{
          padding-top: 40px;
        }
        #img {
          width: 250px;
        }
        #details {
          vertical-align: top;
          padding-left: 10px;
        }
        #itemImage, #details {
          display: inline-block;
        }

        #description {
            padding-top: 15px;
        }

        #sellers {
            padding-top: 15px;
        }

    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">Mini-Amazon</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <br>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('cart')}}">Cart</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item">{{userinfo[0][0]}}</a>
              <a class="dropdown-item">Current Balance: ${{userinfo[0][1]}}</a>
      <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{url_for('updatebalance')}}">Add Balance</a>
              <a class="dropdown-item" href="{{url_for('purchased')}}">Purchase History</a>
              <a class="dropdown-item" href="/show_buyer">User Profile</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
    </ul>
    <form action="{{ url_for('search') }}" method = "POST">
          <input class="form-group  text-align" id="entry" name="entry" type="search" aria-label="Search">
          <input id="searchButton" type="submit" value="search">
      </form>
      </div>
    </nav>
    <h2> {{item[1]}}</h2>
    <div id="itemImage">
        <img id="img" src={{item[2]}}>
    </div>
    <div id="details">
        <div>
            <b>Category:</b> {{item[4]}}
        </div>
        <div> 
            <b>Average Rating:</b> {{item[5]}}
        </div>
        <div id="description"> 
            {{item[3]}}
        </div>
    </div>
    
    <div id="sellers">
        <h5><b>Seller Listings: </b></h5>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Seller</th>
                    <th scope="col">Count</th>
                    <th scope="col">Price </th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                {% for listing in sellinfo %}
                <tr>
                    <td>{{listing[1]}} {{listing[2]}}</td>
                    <td>{{listing[3]}}</td>
                    <td>${{listing[4]}}</td>
                    <td>  
                    <a class="btn btn-primary btn-sm" role="button" href="{{url_for('addtocart', itemid = item[0], seller= listing[5])}}">Add to Cart</a> 
                </td>
                 <tr>
                  {% endfor %}
                </tbody>
        </table>
    </div>
    <div id="ratings">
        <h5><b>Ratings: </b></h5>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Buyer</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                <tr>
                    <td>{{review[0]}} {{review[1]}}</td>
                    <td>{{review[2]}}</td>
                    <td>{{review[3]}}</td>
                    <td>  
                </td>
                 <tr>
                  {% endfor %}
                </tbody>
        </table>
    </div>

   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>
</html>