<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enter Account Information</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>

    <form action="{{ url_for('addingitem') }}" method = "POST">
        <label for="itemname">Item Name:</label><br>
        <input type="text" id="itemname" name="itemname"><br>
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description"><br>
        <label for="image">Image URL:</label><br>
        <input type="text" id="image" name="image"><br>
        <label for="category_name">Category:</label><br>
        <select name="category_name" id="category">
          <option value="Clothing, Shoes, &amp; Jewelry">Clothing, Shoes, &amp; Jewelry</option>
          <option value="Home &amp; Kitchen">Home &amp; Kitchen</option>
          <option value="Sports &amp; Outdoors">Sports &amp; Outdoors</option>
          <option value="Toys &amp; Games">Toys &amp; Games</option>
        </select><br>
        <label for="price">Price:</label><br>
        <input type="text" id="price" name="price"><br>
        <label for="count">Count:</label><br>
        <input type="text" id="count" name="count"><br>
        <input type="submit" value ="submit"><br>

    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  </body>
</html>
