<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini-Amazon</title>
    {% if session['seller']==True%}
    <meta http-equiv="refresh" content="0; url={{ url_for('sellerhome') }}" />
    {% else %}
    <meta http-equiv="refresh" content="0; url={{ url_for('home') }}" />
    {% endif %}

    <!--meta http-equiv="refresh" content="0; url={{ url_for('home') }} + '#' + {{buyer}} " /-->

</head>
<!--body>
{% if buyer %}
  <h1>Hello {{ buyer }}!</h1>
        <p> Continue Shopping!</p>
{% else %}
  <h1>Hello, {{buyer}}!</h1>
{% endif %}
 </body-->
</html>