<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <title>Review & Recommendations</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" />
    <style>
        li{
            margin-left: 30px ;
        }
        h2 {
            text-align: center;
            padding-top: 20px;
        }
    </style>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">Mini-Amazon</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <br>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('cart')}}">Cart</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item">{{userinfo[0][0]}}</a>
              <a class="dropdown-item">Current Balance: ${{userinfo[0][1]}}</a>
      <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{url_for('updatebalance')}}">Add Balance</a>
              <a class="dropdown-item" href="{{url_for('purchased')}}">Purchase History</a>
              <a class="dropdown-item" href="/show_buyer">User Profile</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
    </ul>
    <form action="{{ url_for('search') }}" method = "POST">
          <input class="form-group  text-align" id="entry" name="entry" type="search" aria-label="Search">
          <input id="searchButton" type="submit" value="search">
      </form>
      </div>
    </nav>
    
    <div class="container">
      <form action="/review_submit" method="POST">

        <div class="form-group">
          <h3>Your name</h3>
          <input
            type="text"
            name="customer"
            placeholder="Input your name"
          />
          <input name=item_id type='hidden' value={{item_id}} />
        </div>
        <div class="form-group">
          <h3>Item rating</h3>
          <select name="rating">
            <!-- <option value="">Please rate your purchase</option> -->
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>

          </select>
        </div>
        <div class="form-group">


     

        </div>
        <div class="form-group">
          <h3>Tell us about your experience</h3>
          <textarea
            name="comments"
            id=""
            cols="30"
            rows="10"
            placeholder="Tell us what you liked and/or did not like"
          ></textarea>
        </div>
        <input type="submit" value="Submit" class="btn" />
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>