<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Mini-Amazon</title>

    <!-- Bootstrap -->
    <!--link href="css/bootstrap.min.css" rel="stylesheet"-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        h1, h2, body {
          text-align: center;
          }
        h1{
          padding: 20px;
            display: in-line-block;
        }
        button {
            float: center;
        }
        table {
            margin-left: auto;
            margin-right: auto;
            border-collapse: separate;
            border-spacing: 0 1em;
            
        }
        th {
            padding-top: 55px;
            padding-bottom: 5px;
            font-weight: bold;
        }
        td {
            
            padding: 5px;
            width: 15%;
            vertical-align: top;
        }
        body{
          margin-bottom: 50px ;
        }
        li{
          margin-left: 30px ;
        }
        

    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Mini-Amazon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/sellerhome">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sold">Trade History</a>
              </li>
            <br>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item">{{seller_email}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/show_seller">User Profile</a>
              </div>


            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>

      
    <h1>My Items</h1> <p><a href="new_item"><button>Add New Item</button></a></p>
    
   
    <table>
    <col style="width:20%">
    <col style="width:20%">
    <col style="width:20%">
   
        <tr>
            <th>Image</th>
            <th>Item</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Count</th>
        </tr>
        {% for row in items %}
            <tr>
                <form action="{{ url_for('deleteitem', item_id = row[7])}}" method = "POST">
                <td><img src="{{row[8]}}" alt="ERROR LOADING IMAGE" height=100 width=100></img></td>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td><input type="submit" value ="Delete Item"><br></td>
                <td><input type="submit" value ="Edit Item" formaction="{{ url_for('edititem', item_id = row[7])}}"><br></td>
                </form>
                
            </tr>
        {% endfor %}
    </table>
    <!--table>
        {% for item in items %}
            <tr>
                <td>
                    {{item[0]}} &emsp; 
                    <img class = "center" src = {{item[1]}}> &emsp;
                    {{item[2]}} &emsp;
                    {{item[3]}}
                </td> 
            </tr>
        {% endfor %}
    </table-->

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  </body>
</html>