<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    
    <title>Title</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <style>
            h1, h2, body {
            text-align: center;
            }
            h1{
            padding: 20px
            }
            table {
                margin-left: auto;
                margin-right: auto;

            }
            th {
                padding-top: 55px;
                padding-bottom: 5px;
                font-weight: bold;
            }
            td {
                padding: 5px;
            }
            body{
            margin-bottom: 50px ;
            }
            li{
            margin-left: 30px ;
            }


        </style>
  </head>
  <body>
  {% if buyer %}
    <h1>Hello {{ buyer }}!</h1>
          <h1> Your Password is: {{ passwd }}</h1>
          <p><a href="/"><button>Go back to home page</button></a></p>
  {% else %}
    <h1>Hello, {{msg}}!</h1>
  {% endif %}
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>