<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Balance</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        li{
              margin-left: 30px ;
        }
        #main {
            text-align: center;
            padding-top: 20px;
        }
        #submit {
            margin-top: 10px;
        }
        h2 {
            text-align: center;
            padding-top: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Mini-Amazon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <br>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('cart')}}">Cart</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item">{{email}}</a>
                <a class="dropdown-item">Current Balance: ${{rows[0][0]}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('updatebalance')}}">Add Balance</a>
                <a class="dropdown-item" href="{{url_for('purchased')}}">Purchase History</a>
                <a class="dropdown-item" href="/show_buyer">User Profile</a>
			    </div>
		  	</li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
          </ul>
          <form action="{{ url_for('search') }}" method = "POST">
            <input class="form-group  text-align" id="entry" name="entry" type="search" aria-label="Search">
            <input id="searchButton" type="submit" value="search">
        </form>
        </div>
      </nav>
    <div id="main"> 
        <h2>Add Balance </h2>
        {% for row in rows %}
            <div>
                <div id="currentBal">
                    <b>Current Balance:</b> ${{row[0]}} 
                </div>
                <div id="payment">
                    <b>Payment Info:</b> {{row[1]}}
                </div>
            </div>
            {% endfor %}
        <form action="{{ url_for('addbalance') }}" method = "POST">
            <label for="add" id="label"> <b>Add Balance:</b></label><br>
            <input type="text" id="add" name="add"><br>
            <input id="submit" type="submit" value="Submit">
        </form>
        <div id="msg" style="color:red">
            {{msg}}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
